<h1>RENTAL AGREEMENT & WAIVER</h1>
<p>Please read this Rental Agreement/Waiver carefully before signing. All renters must sign this Rental
Agreement/Waiver. For renters under 18 years of age (“minor” or “child”), parent(s) or guardian(s)
(“Parents”) must also sign.</p>
<h2>Rental Agreement</h2>
<p>I accept full responsibility for the care of the equipment, agree to reimburse Colorado College (CC) for lost, stolen, damaged or incomplete equipment (i.e. tents missing poles, stuff sacks, etc.), and agree not to loan or rent thisequipment to any other person. I understand the following:</p>
 <p>I am responsible to pay in full with Gold Card, cash, or check.
Payment will occur when the item has been returned, and must be for the full rental price, with any
discounts that are duly owed.
 I will be assessed late fees.
Late fees will be assessed until the item is returned following the late fee price structure on the pricing
sheet.</p>
 <p>I will be assessed damage and cleaning fees.
Damage fees will be assessed for any damages that Gear House staff have deemed likely caused by mis-
use of equipment. A list of these damages is posted on the price sheet. Cleaning fees will be assessed
for excessively dirty items. If fees are not paid by the end of the following block, they will be charged to
my student account, along with an additional $25 fee.
 Items not returned will be charged to my student account.
Student accounts will be charged at the end of the block, and will be for the full original price of a new
item. If any item is charged to my student account for any reason, an additional $50 fee will be assessed,
and I will lose any discounts that I may have.
Items not returned and not paid for.</p>
<p>CC reserves the right to send the account to a collections agency to pursue recovery of the item or the
full original price of the item. If items are not returned and not paid for at the time of the student’s
graduation, CC may withhold the student’s degree until the items are returned or paid for at the full
original price.</p>
<h2>Waiver</h2>
<p>Acknowledgement and Assumption of Risks & Release and Indemnity Agreement
Please read carefully. This agreement contains a surrender of certain legal rights.
In consideration for the services of CC for the rental of equipment, I acknowledge and agree as follows:
Acknowledgement and Assumption of Risks: I agree to assume all risks inherent in the activities I perform when
using CC rental equipment and acknowledge that these activities may involve risks to my person and property. I
agree to assume all risks involved in the use of CC rental equipment and acknowledge that the use of CC rental
equipment may involve risks to my person and property. I acknowledge and agree to assume the risks that CC
11rental equipment may be misused or may break, fail or malfunction. I acknowledge and agree to assume the
risks that CC does not guarantee the quality of the rented equipment or that the rented equipment is free from any
defects or conditions which may cause the equipment to break, fail or malfunction. I acknowledge and agree to
assume the risks involved with the performance of maintenance, the failure to perform maintenance, inspection,
supervision or control of the rented equipment. I acknowledge that using CC rental equipment may involve
risks, hazards and dangers that can cause injury, damage, death or other loss to myself or others. I agree to
assume the risks and accept full responsibility for using CC rental equipment, for the inherent and other risks
(both known and unknown) involved in the use of CC rental equipment and for any injury, damage, death or
other loss suffered as a result of the use of CC rental equipment.</p>
<p>Release and Indemnity Agreement: I agree not to sue or bring any claim against CC, its students, officers,
agents, employees, directors, trustees, representatives, or volunteers for any injury, damage, death or other loss in
any way connected with my rental or use of CC rental equipment. I understand that in signing this Release and
Indemnity Agreement, I and anyone acting on my behalf, surrender our respective rights to make any claim
against CC or any of its students, officers, agents, employees, directors, trustees, representatives, or volunteers as
a result of any injury, damage, death or other loss suffered by me. I also agree to defend and indemnify
(“indemnify” meaning protect by reimbursement or payment) CC and its students, officers, agents, employees,
directors, trustees, representatives, and volunteers with respect to any and all claims in any way connected with
my rental or use of CC rental equipment, including but not limited to claims brought on behalf of me, a family
member, or any other person or entity for any injury, damage, death or loss. This Release and Indemnity
Agreement includes any injury, damage, death or other losses caused or alleged to be caused, in whole or in part,
by the negligence (but not the willful, wanton, or criminal misconduct) of CC, its students, officers, agents,
employees, directors, trustees, representatives, or volunteers, and includes claims for personal injury or wrongful
death, property damage, loss of consortium, breach of contract or any other claim.</p>
<h2>Miscellaneous Provisions</h2>
<p>I agree that Colorado law (without regard to its “conflict of laws” rule) governs this Rental Agreement/Waiver,
any dispute I have with CC, and all other aspects of my relationship with CC and I agree that any mediation, suit
or other proceeding must be filed exclusively in the State of Colorado, County of El Paso. I agree to attempt to
settle any dispute (that cannot be settled by discussion) through mediation before a mutually acceptable Colorado
mediator. I am renting this equipment “as is”, and understand that CC disclaims all warranties, express
or implied (including any conditions of merchantability or fitness for a particular purpose) with regard to
the rented equipment. This Rental Agreement/Waiver is intended to be interpreted and enforced to the
fullest extent allowed by law. If any portion of this Rental Agreement/Waiver is deemed unlawful or
unenforceable it shall not effect the remaining provisions, and those remaining provisions shall continue in
full force and effect.</p>
<p>I have carefully read, understand, and voluntarily sign this Rental Agreement/Waiver and acknowledge that it
shall be effective and binding upon me, my minor children and other family members, and my heirs, executors,
representatives and estate, and successors and assigns. One or both Parent(s) must sign below if renter is under
18 years of age.</p>
