<p id="notice"><%= notice %></p>

<div class="container-fluid">
    <h2>Current Rentals</h2>
    <h1></h1>
    <p>
      This page displays all currently rented items.
    </p>



</div>
<%= render :partial => "rental_table" %>
</div>




