<div class="container-fluid">

    <h2>Welcome to the Ahlberg Gear House Rental Application</h2>
    <p></p>

    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Registered Users</h5>
            <p class="card-text">This page contains a table filled with all of the users/students currently registered in the database. Here you can register new users by clicking the "Add new user" button, as well as edit old ones, or delete expired accounts using the buttons in the corrisponding row</p>
            <a href="users#index" class="btn btn-primary">View Registered Users</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Inventory</h5>
            <p class="card-text">This page displays all items in inventory split intobulk items and itemized items. Itemized and bulk itemscan be created with the "add itemized/bulk item" buttons and edited or deleted using the buttons on the corrisponding table rows.</p>
            <a href="inventories#index" class="btn btn-primary">View Inventory</a>
          </div>
        </div>
      </div>
    </div>
    <p></p>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Current Rentals</h5>
            <p class="card-text">This page contains a table filled with all of the current rentals information. New rentals can be created with the "Create new rental" button and the fields can be more easily filled out by scanning item barcodes and gold cards in the designated fields. completed rentals can be archived using the "archive" buttons and current rentals can be edited (though this is not advised).</p>
            <a href="rentals#index" class="btn btn-primary">View All Current Rentals</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Calendar</h5>
            <p class="card-text">This page contains a calendar that shows the rentals due on each day tomore visually show what rentals need to be completed today and which rentals to expect tobe completed in the near future.</p>
            <a href="#" class="btn btn-danger">Not Implemented</a>
          </div>
        </div>
      </div>
    </div>
</div>
