@import 'bootstrap';
html, body {
  margin: 0;
  padding: 0;
  background: White;
  color: DarkSlateGrey;
  font-family: "Trebuchet MS",Arial, Helvetica, sans-serif;
  font-size: 10pt;
}
div#main {
  margin: 0;
  padding: 0 20px 20px;
}
a {
  background: transparent;
  color: brown;
  text-decoration: underline;
  font-weight: bold;
}
h1 {
  color: black;
  font-size: 150%;
  font-style: italic;
  font-weight:bold;
  display: block;
  width: 100%;
  border-bottom: 1px solid DarkSlateGrey;
}
h1.title {
  margin: 0 0 1em;
  padding: 10px;
  background-color: brown;
  color: white;
  border-bottom: 4px brown;
  font-size: 2em;
  font-style: normal;
}
table#users {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
}
table#users th {
  padding-top: 12px;
  padding-bottom:12px;
  text-align:left;
  border: 2px solid white;
  font-weight: bold;
  background-color: #4CAF50;
  color: white;
}

table#users tr:hover {
  background-color:#ddd
}

table#users th, table#users td {
  border: 1px solid #ddd
  padding;
  text-align: left;
}
#notice, #warning {
  background: rosybrown;
  margin: 1em 0;
  padding: 4px;
  color  : red;
}
form label {
  display: block;
  line-height: 25px;
  font-weight: bold;
  color: black;
}
